*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
  margin: auto;
}
.container {
  width: 96%;
  margin: auto;
}
header {
  width: 100%;
  background-color: #333333;
  color: #fafafa;
  font-size: 1.6rem;
  text-align: center;
  align-items: center;
}
.h1-head {
  padding-top: 5rem;
  padding-bottom: 1.5rem;
}
.p-head {
  padding: 0 20rem;
  font-size: 1 rem;
  font-weight: lighter;
  line-height: 2.3rem;
  margin-bottom: 2rem;
}

.btn {
  color: #fafafa;
  padding: 1rem;
  margin-bottom: 7rem;
  border: 1px solid #757272;
  background-color: #333333;
  cursor: pointer;
}

.info {
  display: flex;
  color: #f8f8f8;
  text-align: center;
  height: 15rem;
  font-size: 1.2rem;
}

.contact-us,
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.contact-us {
  background-color: #2590d4;
}

.about-us {
  background-color: #333333;
}

footer {
  background-color: black;
  color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  font-size: 1rem;
}

.footer-span {
  color: #2590d4;
}

main {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  align-items: center;
  height: 50%;
}

.top-section {
  width: 100%;
  background-color: rgba(170, 165, 165, 0.514);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 3rem; */
  /* margin-bottom: 2rem; */
  text-align: center;
}

.top-section h3 {
  margin-bottom: 2rem;
}

.top-section div {
  width: 50%;
  display: flex;
  margin-left: 1.5rem;
}

.article {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  margin-bottom: 2rem;
}

.article-card {
  width: 15%;
  height: 70%;
  background-color: #eaeaea;
  margin: 1.5rem;
  padding: 2rem;
}

.article-card h4 {
  margin-bottom: 1.2rem;
}

.bottom-section {
  padding: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.bottom-section h3 {
  margin-bottom: 2rem;
}
@media screen and (max-width: 880px) {
  .article-card h4 {
    font-size: 1.4rem;
  }
  .article-card p {
    font-size: 1.4rem;
  }
  .top-section div {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 880px) {
  .p-head {
    width: fit-content;
    font-size: 1rem;
  }
  .article {
    flex-direction: column;
  }
  .article div {
    width: fit-content;
  }
  .article-card h4 {
    font-size: 1.4rem;
  }
  .article-card p {
    font-size: 1.4rem;
  }
  .top-section div {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 399px) {
  .p-head {
    width: fit-content;
    font-size: 1rem;
  }
  .article {
    flex-direction: column;
  }
  .article div {
    width: fit-content;
  }
  .article-card h4 {
    font-size: 1.4rem;
  }
  .article-card p {
    font-size: 1.4rem;
  }
  .top-section div {
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
  }
  .top-section :nth-child(2) {
    flex-direction: column;
  }
  .info {
    flex-direction: column;
  }
  footer {
    padding: 2.5rem;
    margin-top: 4rem;
  }
  footer p {
    margin: 4rem 0;
  }
}
@media screen and (min-width: 237px) and (max-width: 335px) {
  .p-head {
    /* display: none; */
    width: fit-content;
    font-size: 1rem;
  }
  .article {
    flex-direction: column;
  }
  .article div {
    width: fit-content;
  }
  .article-card h4 {
    font-size: 1.4rem;
  }
  .article-card p {
    font-size: 1.4rem;
  }
  .top-section div {
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
  }
  .top-section :nth-child(2) {
    flex-direction: column;
  }
  .info {
    flex-direction: column;
  }
  footer {
    padding: 2rem;
    margin-top: 7rem;
  }
}
@media screen and (max-width: 237px) {
  .p-head {
    /* display: none; */
    width: fit-content;
    font-size: 1rem;
  }
  .article {
    flex-direction: column;
  }
  .article div {
    width: fit-content;
  }
  .article-card h4 {
    font-size: 1.4rem;
  }
  .article-card p {
    font-size: 1.4rem;
  }
  .top-section div {
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
  }
  .top-section :nth-child(2) {
    flex-direction: column;
  }
  .info {
    flex-direction: column;
  }
  footer {
    padding: 2rem;
    margin-top: 11rem;
  }
}
